
@media screen and (min-width:851px) {

body{
  background-color: #EBECF0;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0 5% 0;
}
.card-main-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  width: 80%;
}
.card-container{
  width: 200px;
  height: 300px;
  padding: 5px;
  display: grid;
  grid-template-rows: auto 180px auto;
  cursor: pointer;
}
.middle{
  padding: 0px 25px;
  /* background: yellowgreen; */
  margin-top: -10px;
}
.bottom-content{
  float: right;
  transform: rotate(180deg)
}
.A-class{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.symbol-size{
  font-size: 60px;
  font-weight: bold;
}
.class-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.horizental{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.vertical{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.rotate{
  transform: rotate(180deg);
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.number-size{
  font-size: 25px;
  font-weight: 800;
}
.loading{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.loading-spin{
  background: conic-gradient(#7abd3300,#7abd33);
  animation: spin 1.2s infinite linear;

}
@keyframes spin {
  to{
    transform: rotate(360deg)
  }
}
.relative{
  position: relative;
}
.preloader-main-container{
  position: absolute;
  top: 0;
  z-index: 666;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
.preloader-container{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 210px;
 height: 310px;
}


 
}


/*********************************************** Tablet View***************************/
@media screen and (min-width:451px) and (max-width:850px) {

  body{
    background-color: #EBECF0;
  }
  .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
  }
  .card-main-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    width: 80%;
  }
  .card-container{
    width: 200px;
    height: 300px;
    padding: 5px;
    display: grid;
    grid-template-rows: auto 180px auto;
    cursor: pointer;
  }
  .middle{
    padding: 0px 25px;
    margin-top: -10px;
  }
  .bottom-content{
    float: right;
    transform: rotate(180deg)
  }
  .A-class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .symbol-size{
    font-size: 60px;
    font-weight: bold;
  }
  .class-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .horizental{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .vertical{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  .rotate{
    transform: rotate(180deg);
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .number-size{
    font-size: 25px;
    font-weight: 800;
  }
  .loading{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .loading-spin{
    background: conic-gradient(#7abd3300,#7abd33);
    animation: spin 1.2s infinite linear;
  
  }
  @keyframes spin {
    to{
      transform: rotate(360deg)
    }
  }
  .relative{
    position: relative;
  }
  .preloader-main-container{
    position: absolute;
    top: 0;
    z-index: 666;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
  }
  .preloader-container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 210px;
   height: 310px;
  }
  
 
}





/* ****************************************************************** */

@media screen and (max-width:450px) {
 
  body{
    background-color: #EBECF0;
  }
  .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
  }
  .card-main-container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    width: 80%;
  }
  .card-container{
    width: 200px;
    height: 300px;
    padding: 5px;
    display: grid;
    grid-template-rows: auto 180px auto;
    cursor: pointer;
  }
  .middle{
    padding: 0px 25px;
    margin-top: -10px;
  }
  .bottom-content{
    float: right;
    transform: rotate(180deg)
  }
  .A-class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .symbol-size{
    font-size: 60px;
    font-weight: bold;
  }
  .class-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .horizental{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .vertical{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  .rotate{
    transform: rotate(180deg);
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .number-size{
    font-size: 25px;
    font-weight: 800;
  }
  .loading{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .loading-spin{
    background: conic-gradient(#7abd3300,#7abd33);
    animation: spin 1.2s infinite linear;
  
  }
  @keyframes spin {
    to{
      transform: rotate(360deg)
    }
  }
  .relative{
    position: relative;
  }
  .preloader-main-container{
    position: absolute;
    top: 0;
    z-index: 666;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
  }
  .preloader-container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 210px;
   height: 310px;
  }
  
}